/* ******************************** */
/*** BUTTONS ***/
/* ******************************** */

.btn {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  font-weight: 600;
  color: #fffffe;
  background-color: transparent;
  text-shadow: 1px 1px #9d0e26;
  letter-spacing: 0.15rem;
  padding: 0.7em 1.3em;
  font-size: 18px;
  border-radius: 0.5em;
  border: 1px solid #fffffe;
}

.btn:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.btn:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  border-radius: 50%;
  display: block;
  transition: all 0.4s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.btn:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #00ebc7;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.btn:hover {
  color: #00214d;
  text-shadow: none;
  border: 1px solid #00ebc7;
}

.btn:hover:before {
  top: -35%;
  background-color: #00ebc7;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.btn:hover:after {
  top: -45%;
  background-color: #00ebc7;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

/* ALT BUTTON */
.btn.btn-alt {
  background-color: #00ebc7;
  color: #00214d;
  text-shadow: 1px 1px #fffffe;
}

.btn.btn-alt:hover {
  color: #ef6060;
  text-shadow: 1px 1px #9d0e26;
  border: 1px solid #ef6060;
}

.btn.btn-alt:hover:before {
  top: -35%;
  background-color: #fffffe;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.btn.btn-alt:hover:after {
  top: -45%;
  background-color: #fffffe;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

/* ******************************** */
/*** HEADER (NAVIGATION) ***/
/* ******************************** */

.header {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);

  /* Because I want header to be sticky later */
  height: 6.4rem;
  padding: 0 3.2rem;
  z-index: 3;
  background-color: #ef6060;
}

.logo {
  height: 2.2rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

/* MOBILE NAV */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* ******************************** */
/*** HERO SECTION ***/
/* ******************************** */

section .hero {
  height: 100vh;
  margin-bottom: 18rem;
}

ion-icon {
  font-size: 3.6rem;
  color: #00214d;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  margin-top: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 95vh;
}

.heading-primary span {
  color: #ff5470;
}

.hero-text-box p {
  line-height: 2.2rem;
}

.hero-img {
  width: 100%;
}

.icon-link:hover {
  color: #ef6060;
}

/* ******************************** */
/*** PROJECT SECTION ***/
/* ******************************** */

#section-projects {
  margin-bottom: 12.8rem;
}

.projects-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(1.8rem, auto);
  align-items: center;
  justify-items: center;
  column-gap: 6.4rem;
}

.card {
  max-height: 65rem;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.217);
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.video-box {
  width: 40rem;
  height: 40rem;
}

.video {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.content p {
  line-height: 2rem;
  font-size: 1.4rem;
  font-weight: 300;
}

.content ul {
  display: flex;
  list-style: none;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* ******************************** */
/*** TESTIMONIALS SECTION ***/
/* ******************************** */

.testimonials-wrapper {
  margin-bottom: 12.8rem;
}

.testimonials-grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-column-gap: 3.2rem; */
  grid-row-gap: 3.2rem;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
}

.grid-item-1 {
  grid-column: 1 / span 4;
}
.grid-item-2 {
  grid-column: 1 / span 2;
}
.grid-item-3 {
  grid-column: 3 / span 4;
}
.grid-item-4 {
  grid-column: 1 / span 4;
}

/* .testimonial-box {
  max-width: 40rem;
} */

.testimonial blockquote {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.325);

  margin: 10px 10px 0;
  background: transparent;
  padding: 20px 60px;
  position: relative;
  border-radius: 8px;
  font-style: italic;
  letter-spacing: 0.05rem;
  line-height: 1.25;
  font-size: 1.8rem;
  font-weight: 400;
}

.quote-container {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.testimonial blockquote:before,
.testimonial blockquote:after {
  content: "\201C";
  position: absolute;
  font-size: 7rem;
  line-height: 1;
  color: #00ebc7;
  text-shadow: 2px 2px #ff5470;

  font-style: normal;
}

.testimonial blockquote:before {
  top: 1rem;
  left: 1rem;
}

.testimonial blockquote:after {
  content: "\201D";
  right: 1rem;
  bottom: -0.5rem;
}

.testimonial p {
  font-size: 1.6rem;
  font-weight: 300;
  margin: 0.8rem 0 0 2rem;
  text-align: left;
}

/* ******************************** */
/*** FORM SECTION ***/
/* ******************************** */

.contact-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6.4rem;
}

.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.form-subject {
  grid-column: 1 / span 2;
}

.form-message {
  grid-column: 1 / span 2;
}

textarea[class="message"] {
  font-family: "Lato", sans-serif;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fcebeb;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  width: 100%;
  min-height: 12.8rem;
}

.contact-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 0.2rem;
}

.contact-form input,
.contact-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fcebeb;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.contact-form input::placeholder {
  color: #aaa;
}

textarea::placeholder {
  color: #aaa;
}

.contact-form *:focus {
  outline: none;
  background-color: #fcebeb;
  box-shadow: 0 0 0 0.4rem rgba(255, 84, 112, 0.5);
}

/* ******************************** */
/*** FOOTER SECTION ***/
/* ******************************** */

.footer {
  /* position: absolute; */
  /* bottom: 0; */
  width: 100%;
  height: 12rem;
  padding-top: 1.2rem;
  background-color: #ef6060;
  /* display: grid; */
  /* grid-template-columns: repeat(4, 1fr); */
  /* column-gap: 6.4rem;  */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer-social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #fffffe;
  text-shadow: 1px 1px #9d0e26;
}

.footer-icons ion-icon {
  font-size: 4.4rem;
}

.footer-links {
  grid-column: 2 / span 4;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2.4rem;
  flex-direction: row;
  padding: 1.6rem;
  color: #fffffe;
  text-shadow: 1px 1px #9d0e26;
  padding-bottom: 1.2rem;
  font-size: 2rem;
}

.footer-icons ion-icon:hover {
  color: #fde24f;
}

.footer-links a {
  color: #fffffe;
  text-shadow: 1px 1px #9d0e26;
  padding-bottom: 1rem;
}

.footer-links a:hover {
  color: #00ebc7;
  text-shadow: 1px 1px #9d0e26;
}

/* ******************************** */
/*** ABOUT ME ***/
/* ******************************** */

.about-me-box {
  margin: 0 auto;
  margin-top: 9.8rem;
  max-width: 120rem;
  padding: 0 3.2rem;
  display: grid;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2.5rem;
  margin-bottom: 9rem;
}

.about-text-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about-me-box h1 {
  font-size: 5.2rem;
}

.about-img {
  width: 100%;
}

.resume-link {
  color: #ff5470;
  text-shadow: 1px 1px #9d0e26;
}
.resume-link:hover {
  color: #fde24f;
  text-shadow: 1px 1px #9d0e26;
}

.resume-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  /* margin-bottom: 18rem; */
}
.resume-box a {
  font-size: 2.4rem;
}
